{% extends 'base.html' %}

{% block head %}
<title>Coun+down</title>
{% endblock %}

{% block body %}

<div class="content">
    <h1 style="text-align: center">Countdown game</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">Welcome to Online Countdown!</h4>
        <h5 style="text-align: center">Developed by Reza Pirbhai.</h5>

    {% else %}

    {% endif %}

    <div class = "button"></div>

    <a href="{{ url_for('login') }}">
           <button type ="button"> Log in </button>
             </a>


       <a href="{{ url_for('help') }}">
           <button type ="button"> Help </button>
             </a>

        <a href="{{ url_for('multiplayer') }}">
           <button type ="button"> Multiplayer </button>
             </a>

        <a href="{{ url_for('daily') }}">
           <button type ="button"> Daily Challenge </button>
             </a>

        <a href="{{ url_for('practise') }}">
           <button type ="button"> Practise </button>
             </a>

            </form>
    </div>


</div>
{% endblock %}