{% extends 'base.html' %}

{% block head %}
<title>Log In</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Log In</h1>


   <div class = "button"></div>
       <a href="{{ url_for('home') }}">
           <button type ="button"> Go back </button>
             </a>


    <button onclick="Log_In()">Log In</button>
    <p id = "Log In"></p>
        <script>
            function Log_In() {
                document.getElementById("Log In").innerHTML = "Log In!";
            }
            </script>





    </div>
</div>
{% endblock %}