{% extends 'base.html' %}

{% block head %}
<title>Practise</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Practise</h1>


   <div class = "button"></div>
       <a href="{{ url_for('home') }}">
           <button type ="button"> Go back </button>
             </a>


   <div class = "button"></div>
       <a href="{{ url_for('countdown_prc') }}">
           <button type ="button"> Play practise mode </button>
             </a>


 <div class = "button"></div>
       <a href="{{ url_for('timer') }}">
           <button type ="button"> Timer </button>
             </a>



    </div>
</div>
{% endblock %}